// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.padding-0 {
  padding:0 !important;
}

.float-right {
  float: right;
}

.float-left {
  float:left;
}

.black-bg-color {
  background-color: black !important;
}

.padding-left-35 {
  padding-left: 35% !important;
}